beautifulsoup4==4.12.2
SQLAlchemy==1.4.48
selenium==4.15.1
Pillow==9.5.0
opencv-python==4.7.0.72 
numpy==1.23.5 
tensorflow==2.12.0 
keras==2.12.0
imutils==0.5.4
scikit-learn==1.2.2
simple-salesforce==1.12.4
selenium-wire==5.1.0
pypdf==3.11.0
pdfplumber==0.9.0
apache-airflow[statsd]
undetected-chromedriver==2.1.1
pytest-playwright
apache-airflow-providers-opsgenie
pyspark